@CHARSET "UTF-8";

.events{
}

.event{
	height: 220px;
	margin-bottom:20px;
}

.event_vert{
	margin: 10px 1.52%;
	width: 30%;
	display: inline-block;
	padding: inherit;

}
@media (min-width: 481px) and (max-width: 767px) {
  .event_vert{
  	width:45%;
  	margin: 2.3%;
  	margin-top:10px;
  }
}

@media (max-width: 480px) {
   .event_vert{
  	width:98%;
  	margin: 1%;
  	margin-top:10px;
  }
}

.event .image{
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position:center;
	width: 24%;
	float: left;
	margin-right: 10px;
}


.event_vert .image{
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: center;
}

.event .logo{
	height:15%;
	margin:2%;
	float:left;
}
.event_vert .logo{
	height:15%;
	margin:2%;
}

.event .title{
	text-decoration: none;
	font-size: 17px;
	padding-top: 10px;
	display: inline-block;
}

.event_vert .title{
	text-decoration: none;
	font-size: 17px;
	display: inline-block;
	padding: 0px 10px;
	padding-top:10px;
}

.event .info{
	font-size: 11px;
	margin-bottom: 3px;
	padding-right: 10px;
	height: 15px;
	
}

.event_vert .info{
	font-size: 11px;
	margin-bottom: 3px;
	padding: 0px 10px;
	height: 15px;
}

.event .description{
	height: 109px;
	padding-right: 10px;
	overflow: hidden;
	text-align: justify;	
}

.event_vert .description{
	height: 160px;
	overflow: hidden;
	text-align: justify;
	padding: 0px 10px;	
}

.info .date{
	float: left;
}

.info .place{
	color:#333;
	text-decoration:underline;
	float: right;
}

.social{
	text-align:center;
	height:60px;
	display: inline-block;
}

.event_vert .social{
	width:100%;
}

.social a{
	width:40px;
	height:40px;
	background-image: url('../images/social-icon.png');
	background-size: 170px;
	background-repeat: no-repeat;	
	display:inline-block;
	cursor:pointer;
	margin: 10px;
}

.social a:hover{
	background-image: url('../images/social-icon-plane.png');
}

.social .fb{
	background-position: -88px 1px;
}

.social .tw{
	background-position: 1px 1px;
}

.social .yt{
	background-position: -43px 1px;
}