@CHARSET "UTF-8";

#slideEvents{
	width: 100%;
	height: 400px;
	white-space: nowrap;
	overflow: hidden;
}

#slideEvents #events{
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
	left: 0px;
}

#slideEvents .event{
	width: 100%;
	height: 100%;
	display: inline-block;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}

#slideEvents .event .bottomBar{
	width: 100%;
	position: relative;
	opacity: 0.8;
}

.bottomBar .name{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin:0;

}

.bottomBar .place{
	display: inline-block;
	float:left;
	position:relative;
}

.bottomBar .date{
	display: inline-block;
	float:right;
	position:relative;
}

.slideCircles{
	width: 100%;
	text-align: right;
}

.slideCircle{
	background-color: #666;
	border-radius: 20px;
	color: #333;
	margin: 0px;
	display: inline-block;
	width: 10px;
	height: 10px;
	text-align: center;
	cursor: pointer;
}

.slideCircle.active{
	background-color: #333;
}

@media (min-width: 481px) and (max-width: 767px) {
	#slideEvents{
		height: 300px;
	}
}

@media (max-width: 480px) {
   #slideEvents{
		height: 200px;
	}
}